[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/colors/start/dracula"]
	path = .vim/pack/colors/start/dracula
	url = https://github.com/dracula/vim.git
