[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/colors/start/dracula"]
	path = .vim/pack/colors/start/dracula
	url = https://github.com/dracula/vim.git
[submodule ".vim/pack/syntax/start/emmet"]
	path = .vim/pack/syntax/start/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/plugins/start/prettier"]
	path = .vim/pack/plugins/start/prettier
	url = git@github.com:prettier/vim-prettier.git
[submodule ".vim/pack/syntax/start/ale"]
	path = .vim/pack/syntax/start/ale
	url = git@github.com:dense-analysis/ale.git
